
<header>
<pre><h3>ID = <%= @user.id %>                  Score = <%= @user.id %>                   Principal tag = <%= @user.id %> </h3></pre>
<h1><%= @user.id %></h1> 
</header><hr>

<body>
    <h2>TIPO DE POST -- Dieta</h2>
    <p><B>Id Dieta:</B> <%= @user.id %></p>
</body>

<footer>
  <hr><hr>
  <pre><B>Creado por:</B> <%= @user.id %>                                <B>Hora de creacion:</B> <%= @user.created_at %>    <B>Hora ultima modificacion:</B> <%= @user.updated_at %></B></pre>
</footer>